yaml.schemas:
  https://raw.githubusercontent.com/devyndamonster/TakeAndHoldTweaker/master/Schemas/CustomCharacterSchema.json: character.*
  https://raw.githubusercontent.com/devyndamonster/TakeAndHoldTweaker/master/Schemas/SosigTemplate.json: '*sosig*'
emeraldwalk.runonsave:
  commands:
    - match: \.yaml$
      cmd: yq eval -o=j . ${fileDirname}\${fileBasenameNoExt}.yaml > ${fileDirname}\${fileBasenameNoExt}.json
      isAsync: false
    - match: \.json$
      cmd: yq eval -P . ${fileDirname}\${fileBasenameNoExt}.json > ${fileDirname}\${fileBasenameNoExt}.yaml
      isAsync: false
